Django>=6.1
djangorestframework>=3.18
drf-spectacular>=0.30
python-decouple>=3.8
psycopg2-binary>=2.9.9
gunicorn>=22.0
uvicorn>=0.30
uvicorn-worker>=0.3
redis>=5.0,<6.0
requests>=2.31
beautifulsoup4>=4.12
